.navegacao{
    margin-top: 100px;
    display: flex;
    gap: 100px;
}

.navegacao a{
    font-size: 25px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #FFF;
}

.navegacao a:hover{
    border-bottom: 2px solid #FFF;
}
