*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;

    
    --fundo: #3f3f3f;
    --fundo-hover: #3a3a3a;
    --cor-1: #a309a3;
    --cor-1-hover: #830583;
    --cor-2: #0a920a;
    --cor-2-hover: #036603;
    --cor-3: #c00202;
    --cor-3-hover: #b10404;
}

#root{
    width: 100%;
    height: 100vh;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
    background-color: #202020;
}
