*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;

    
    --fundo: #3f3f3f;
    --fundo-hover: #3a3a3a;
}

#root{
    width: 100%;
    height: 100vh;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 100px;
    background-color: #202020;
}
