.area-macros{
    max-width: 700px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fundo-macros{
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: var(--fundo);
    color: #FFF;
}

.area-macros select{
    appearance: base-select;
    cursor: pointer;
    outline: 0;
}

.area-macros select:hover{
    background-color: var(--fundo-hover);
    transition: 0.4s;
}

.area-macros option{
    padding: 0 10px;
}

.area-macros textarea{
    height: 300px;
    outline: 0;
    resize: none;
}


select::picker(select){
    appearance: base-select;
    border: none;
    box-shadow: 0px 5px 10px purple;
    border-top: 0;
    border-radius: 4px;
    background-color: var(--fundo);
    color: #FFF;
}

.area-macros option:checked{
    background-color: purple;
}

.area-macros option:hover{
    background-color: var(--fundo-hover);
    transition: 0.4s;
}