.area-macros{
    max-width: 700px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fundo-macros{
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: var(--fundo);
    color: #FFF;
}

.area-macros select{
    appearance: base-select;
    cursor: pointer;
    outline: 0;
}

.area-macros select:hover{
    background-color: var(--fundo-hover);
    transition: 0.4s;
}

.area-macros option{
    padding: 0 10px;
}

.area-macros textarea{
    height: 300px;
    outline: 0;
    resize: none;
}


select::picker(select){
    appearance: base-select;
    border: none;
    box-shadow: 0px 5px 10px var(--cor-1);
    border-top: 0;
    border-radius: 4px;
    background-color: var(--fundo);
    color: #FFF;
}

.area-macros option:checked{
    background-color: var(--cor-1);
}

.area-macros option:hover{
    background-color: var(--fundo-hover);
    transition: 0.4s;
}

.area-botoes{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.botao-copiar{
    flex: 2;
    text-align: left;
    color: var(--fundo);
    font-size: 20px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.botao-copiar:hover{
    color: var(--cor-1-hover);
}

.botao-editar, .botao-concluir, .botao-excluir{
    font-size: 20px;
    color: #FFF;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.botao-concluir{
    background-color: var(--cor-2);
}

.botao-concluir:hover{
    background-color: var(--cor-2-hover);
}

.botao-excluir{
    background-color: var(--cor-3);
}

.botao-excluir:hover{
    background-color: var(--cor-3-hover);
}

.editar-desativado{
    background-color: var(--cor-1);
}

.editar-desativado:hover{
        background-color: var(--cor-1-hover);
}

.editar-ativado{
    background-color: var(--cor-1);
}

.editar-ativado:hover{
    background-color: var(--cor-1-hover);
}

.area-variantes{
    display: flex;
    gap: 20px;
}

.area-variantes input[type="radio"]{
    accent-color: var(--cor-1);
}